.background-diagonal {
    background-color: #013a6b;
    background-image: -webkit-linear-gradient(170deg, #474B4C 45%, #CCCCCC 45%);
    /* background-image: -webkit-linear-gradient(150deg, #013a6b 45%, #2d759c 45%); */
    /* background-image: linear-gradient(45deg, #013a6b, #4cbfff); */
    min-height: 100vh;
  }


  